// 3-
.introduction{
    background-image: url('../images/index-5.jpg');
    height: 400px;
}


// 4-
.lightSliderImg{
    height: 350px;
    width: 350px;
    @include media-767Max() {
        height: 240px;
        width: 240px;
    }
}
.badge {
    top: 16px;
    right: 16px;
}
